{% extends "base.html" %}
{% block titlecontent %}Add Book SuccessFully{%endblock%}
{% block content %}

<div id="content-wrapper" class="d-flex flex-column ">



        <div class="card o-hidden border-0 shadow-lg my-5    w-50   align-self-center  ">

            <div class="card p-0 ">
                <!-- Nested Row within Card Body -->



                        <div class="p-5 container">
                            <h1 style="color:green;" class="text-center">  &#128512;&nbsp;&nbsp;Edit Book SuccessFully</h1><br>
                            <h3 class="text-center" style="color:red;" >Now You can show your book in show book table</h3>



                        </div>


            </div>
        </div>

</div>

{% endblock %}