{% extends "userregister.html" %}
{% block titlecontent %}User Register Successfully{%endblock%}
{% block content %}
<div class="col-lg-7">
                        <div class="p-5 " style="height:550px;">
                            <div style="margin-top:30% ;margin-bottom:27%;">
                                <center><h2 style="color:green;">&#128077;&nbsp;&nbsp;<b>Registration  Successfully</b> </h2><br>
                                <h2 style="color:red;">&nbsp;&nbsp;&nbsp;Now you can Login </h2></center>
                            </div>

                            <hr>
                            <div class="text-center">
                                <a class="small" href="/forgotpassword/">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/login/">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
{% endblock %}